a{
    text-decoration: none;
    color: #666;
}

.top-bar{
    background-color: #dedede;
    display: flex;
    justify-content: space-between;
    padding: 15px 30px 15px 30px;
}
.menu{
    display: flex;
}

.menu-item{
    margin-left: 20px;
}

.container{
    width: 1300px;
    margin: 0 auto
}

.banner{
    
}